body{
    padding-bottom: 1000px;
}

.images img{
    width: 200px;
    border-radius: 8px;
}
.square img{
    object-position: left;
    object-fit: cover;
    width: 200px;
    height: 200px;

}

.pfp img{
    border-radius: 50px;
    object-fit: cover;
    object-position: left;
    width: 50px;
    height: 50px;
} 
/* Practice with border-radius and object position/fix */
.title, .text{
    border: 2px solid red;
}
.title{
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 30px;
    padding-left: 60px;
}
.text{

    font-family: Roboto, Arial;
    font-weight: 400;
} 
/*Text practice */

.back{
    font-family: Roboto, Arial;
    font-weight: 400;
    padding: 6px;
}
a{
    padding-left: 6px;
    padding-right: 6px;
}

.next{
    font-family: Roboto, Arial;
    font-weight: 400;
    padding: 6px;
} 

.border{
    border: 3px solid red;
}

.shadow{
    background-color: green;
    color: white;
    padding: 8px 14px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-family: Roboto, Arial;
    font-weight: 400;
    transition: box-shadow 0.15s;
    
    
}

.shadow:hover{
    background-color: black;
    color: white;
    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.8);
    
}
.shadow:active{
    opacity: 0.6;
}

.one, .two, .three{
    background-color: green;
    border: none;
    color: white;
    font-size: 24px;
    font-family: Roboto, Arial;
    padding:5px 12px;
    margin-left: 20px;
    cursor: pointer;
    transition: padding 0.15s,
      margin 0.15s;
}
.one:hover, .two:hover, .three:hover{
    padding-right: 20px;
    padding-left: 20px;

}

.stretch{
    background-color: green;
    color: white;
    border: none;
    font-size: 24px;
    font-family: Roboto, Arial;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: padding-top 1s,
      padding-bottom 1s,
      padding-left 1s,
      padding-right 1s;
}
.stretch:hover{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
}

p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;

}
.price{
    font-size: 32px;
    margin-bottom: 5px;
}
.currency{
    font-size: 16px;
    color: rgb(100, 100, 100);
}
.change{
    color:rgb(24, 128, 56);
    margin-bottom: 8px; 

}
.after-hours {
    color: rgb(100, 100, 100);
}

.after-hours-change {
    color: rgb(235, 39, 39);
}

.tweet-header {
    margin-bottom: 5px;
  }

.tweet-author {
    font-weight: bold;
}

.tweet-info {
    color: rgb(100, 100, 100);
}

.tweet {
    width: 600px;
    line-height: 25px;
    margin-bottom: 20px;
}

.twitter-handle {
    color: rgb(29, 155, 240);
}

.search-bar{
    border-radius: 8px;
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    border: 1px solid rgb(200, 200, 200);
}
.google{
    padding: 12px 15px 12px 15px;
    font-size: 16px;
    border-radius: 30px;
    width: 500px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-right: 20px;
}
.box{
    width: 400px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-style: solid;
    border-width:2px ;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgb(100, 100, 100);
}
.email{
    color: rgb(100, 100, 100);
    margin-bottom:10px ;
    font-size: 16px;
}
.agree{
    background-color: rgb(59, 98, 180);
    color: white;
    border: none;
    width: 400px;
    padding-top:16px;
    padding-bottom: 16px;
    border-radius: 30px;
    font-size: 20px;
}
.proflie{
    vertical-align: middle;
    width: 50px;
    border-radius: 50px;
}
.text-box{
    border: none;
    font-size: 18px;
    width: 300px;
    vertical-align: middle;
}
.tweet-button{
    background-color: rgb(94, 150, 224);
    color: white;
    border: none;
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    vertical-align: middle;
}
.name{
    display: block;
    margin-bottom: 5px;
    border-radius: 2px;
    
}


.pfps img{
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    width: 50px;
    height: 50px;
}

.names{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}