body, ul ,li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
    background-color: rgb(12, 139, 84);
}

header{
    background-color:rgb(12, 139, 84);;
    padding:20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;

}

header h1{
    color:white;
    border: 6px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 3px;
    
}

.banner{
    position: relative;
}

.banner img{
    width: 100%;
}

.banner .happy{
    background-color: rgb(12, 139, 84);
    color: white;
    padding: 25px;
    position: absolute;
    left: 0;
    top: 70%;
}

.banner h2{
    font-size: 35px;
}

.banner span{
    font-size: 1.5em;
}


nav{
    background-color: rgb(12, 139, 84);
    padding: 30px;
    position: sticky;
    top: 100px;
    border-bottom: solid white;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    text-decoration: none;
    color: white;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}


article h2{
    color:white;
    font-size: 40px;
}

article p{
    color: white;

}


nav li a:hover{
    text-decoration: underline;
}

nav li a.Songs{
    color: white;
}

footer{
    background: rgb(109, 95, 95);
    color: black;
    padding: 10px;
    text-align: center;
}
