.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border: 1px solid rgb(210, 209, 209);
}
.left{
    display: flex;
    align-items: center;
}
.middle{
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search{
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    width: 0;
    border: 1px solid rgb(204, 204, 204);
}
.search::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 10px;
}

.hamburger-menu{
    height:24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}
.search-button{
    height: 40px;
    width: 60px;
    background-color: rgb(247, 247, 247);
    border-width: 1px;
    border-style:solid ;
    border-color: rgb(204, 204, 204);
    margin-left: -1px;
    margin-right: 10px;

}

.search-button,.voice-button, .upload-icons-container, .youtube-apps-container, .notification-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip, .voice-button .tooltip, .upload-icons-container .tooltip, .youtube-apps-container .tooltip, .notification-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-left: 8px;
    padding-right:8px ;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip, .voice-button:hover .tooltip, .upload-icons-container:hover .tooltip, .youtube-apps-container:hover .tooltip, .notification-container:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height: 25px;
}

.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(241, 241, 241);
}
.voice-icon{
    height: 24px;
}
.right{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload-icon{
    height: 24px;
}
.youtube-apps{
    height: 24px;
}
.notification-icon{
    height: 24px;
}
.notifications-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(198, 32, 32);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;

}
.current-user{
    height: 32px;
    border-radius: 16px;
}