.search-bar{
    flex: 1;
    height: 37px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: black;
    color: #fff;
    border-radius: 40px 0 0 40px;
    padding: 0px 4px 0px 16px
}

.search-bar::placeholder{
    font-size: 16px;
    padding-left: 1px;
}


.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 30px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #fff;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.right-section{
    width: 200px;
}

.youtube-logo{
    height: 80px;
}

.search-icon{
    height: 25px;
    margin-top: 4px;

}
.search-button{
    height: 39px;
    width: 60px;
    border-radius: 0 40px 40px 0px;
    background-color: #333;
    border: none;
    margin-left: -1px;
    margin-right: 10px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    background-color: #333;
    border-radius: 20px;
    border: none;
}

.voice-search-icon{
    height: 24px;
    margin-top: 4px;
}
