p{
    font-family: Roboto;
    margin-bottom: 0;
    margin-top: 0;
}
.title{

    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
}
.stats{

    font-size: 14px;
    color: #606060;
    margin-top: 0 ;
    margin-bottom: 18px;
}
.author{

    color: #606060;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 18x;
}
.text{

    color: #606060;
    font-size: 14px;
    width: 280px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 100px;
}
.apple-text{
    margin-bottom: 50px;
    font-size: 14px;
    background-color: #e34140;
    color: white;
    text-align: center;
    padding: 16px;
    
}
.span{
    cursor: pointer;
}
.span:hover{
    text-decoration: underline;
}