* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d8f0f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul, li {
    padding: 0;
    list-style: none;
}

.main {
    display: flex;
    height: 100vh;
    overflow: auto;
}

.sidebar {
    background-color: #0a134d;
    min-width: 240px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sidebar .list_menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

.sidebar .list_menu a:hover {
    background-color: rgba(255, 255, 255, 0.32);
}
.sidebar .list_menu a .icons {
    margin: 0 10px 0 10px;
}

.sidebar_top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.sidebar_top .logo img {
    width: 100%;
    max-width: 150px;
}

.sidebar_top .menu-btn {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    cursor: pointer;
    color: #fff;
}


.sidebar_top .menu-btn:hover {
    background-color: rgba(255, 255, 255, 0.32);
}

.menu-btn {
    font-size: 1.8rem; 
    width: 50px;
    height: 50px;
}

.sidebar_bottom {
    padding: 15px;
    margin-top: auto;
}

.sidebar_bottom .profile-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar_bottom .profile-sec img {
    width: 100%;
    max-width: 80px;
    border-radius: 99px;
}

.sidebar_bottom .texts {
    padding: 10px;
}

.sidebar_bottom .texts .role {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar_bottom .texts .username {
    font-weight: 500;
}